.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 1000;
}

.SB-Logo-Header {
  height: 120px;
  width: 120px;
}

.Menu-icon {
  height: 40px;
  width: auto;
  cursor: pointer;
  color: #000000;
}
